
1. config.py file





{% macro error(message, category) %}
<div>
    {% with messages = get_flashed_messages(with_categories=True) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class={{category}}>{{ message }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

{% endmacro %}