{% extends "layout.html" %}

{% block content %}
    <header>
        <img class="hero-img img-fluid" src="https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427__480.jpg" alt="Doctor's notes" height="30%vh" width="100%">
        <div class="container">
                <div class="row">
                    <div class="col-sm">
                        <a href="#" style="text-decoration: none;">
                            <button type="button" class="btn btn-success btn-lg btn-block">Schedule a free demo</button>
                        </a>
                    </div>
                    <div class="col-sm">
                        <a href="#" style="text-decoration: none;">
                            <button type="button" class="btn btn-outline-secondary btn-lg btn-block">Free Trial Offer</button>
                        </a>
                    </div>
                </div>
            </div>
    </header> 
    <div class="text-center">
    <section>
        <h1>Describe the EMR here</h1>
        <p>Scribble scribble scribble</p>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col float-left">
                    <img class="rounded img-thumbnail float-left img-fluid"src="https://png.pngtree.com/element_pic/00/16/09/0657cda644f08b4.jpg" alt="placeholder image" >
                </div>
                <div class="col float-right">
                    <img class="rounded img-thumbnail  img-fluid"src="https://png.pngtree.com/element_pic/00/16/09/0657cda644f08b4.jpg" alt="placeholder image" >
                </div>
            </div>   
        </div>  
    </section>
    <section>
        <h1>About Company</h1>
        <p>More scribble scribble</p>
        <h1>Why use our product?</h1>
    </section>
    <section>Section for logos in a row</section>
</div>

{% endblock content %}