{% extends "layout.html" %}

{% block content %}

    <div class='content-section'>
        <div class="media jumbotron img-fluid">
            <img class="rounded-circle account-img" src="{{ avatar }}">
            <div class="media-body">
                <h2 class="account-heading">{{current_user.first_name}} {{current_user.last_name}}</h2>
                <p class="text-secondary">{{current_user.email}}</p>
                <p class="text-secondary">{{current_user.bio}}</p>
            </div>
        </div>
    </div>
        <a href="{{ url_for('update_account', id=current_user.id) }}"><button type="submit" class="btn btn-success btn-sm btn-end" style="margin-left:10px;"id="submit">Update</button></a>
    <style>

        .account-img {
            height:10rem;
            width:10rem;
            margin: 15px;
        }
    </style>
{% endblock content %}

   