{% extends "layout.html" %}

{% block content %}
<div class="text-center">
    <a class="btn btn-secondary" href="{{ url_for('patient_form') }}">Create Patient Record</a>
</div>

<hr>
<ul class="list-group">
    {% for patient_data in patient_list %}

    <div class="card card-body" style="width:20rem;">
        <li class="list-group-item"><a class="card-title" href="chart/{{patient_data.id}}">{{ patient_data.first_name }}
                {{ patient_data.last_name }} ({{ patient_data.date_of_birth }})</a></li>
        <p class="card-text">{{ patient_data.medical_history }}</p>
    </div>
    <div class="card" style="width:20rem;">
        <time data-time="{{ patient_data.timestamp }}" class="distime"
            datetime="{{ patient_data.timestamp.strftime('%Y-%m-%d %H:%M') }}">Record created:
            {{ patient_data.timestamp.strftime('%Y-%m-%d %H:%M') }}</time>
        <h5 class="card-title"><a class="btn btn-secondary"
                href="{{ url_for('charts', first_name=patient_data.user.first_name, last_name=patient_data.user.last_name) }}">By:
                {{ patient_data.user.first_name }} {{ patient_data.user.last_name }}</a></h5>

    </div>
    {% endfor %}
</ul>
{% endblock content %}