{% extends "layout.html" %}

{% block content %}
    <header>
        <img class="hero-img img-fluid" src="https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427__480.jpg" alt="Doctor's notes" height="30%vh" width="100%">
    </header> 
    <section class="container" style="padding-top: 5px;">
        <div class="row">
            <div class="col-sm">
                <img class="small-img" src="https://cdn.pixabay.com/photo/2016/06/24/02/35/ehr-1476525__480.png" width="100%" height="70%vh" alt="image of EMR">
                    <p>Appointment reminders</p>
                    <p>Optimize your calendar</p>
                    
            </div>
            <div class="col-sm">
                <img class="small-img" src="https://as1.ftcdn.net/jpg/01/27/04/88/500_F_127048893_asWNZzlNiwEGoUXF7F5EiWZ1lqVyEIlf.jpg" width="100%" height="70%vh" alt="image of EMR">
                <p>Cloud-based medical reporting</p>
                <p>HIPAA compliant messaging</p>
         
            </div>
            <div class="col-sm">
                <img class="small-img" src="https://t4.ftcdn.net/jpg/01/84/67/71/240_F_184677181_QsidoyIaTiAnED422BJ7Dr95Yc4SROUh.jpg" width="100%" height="70%vh" alt="image of EMR">
                <p>Customize consent forms</p>
                <p>Sign consent forms on iPad</p>

            </div>
        </div>
    </section>      
    <section>
        <div class="container">
            <div class="row">
                <div class="col-sm">
                    <a href="#" style="text-decoration: none;">
                      <a href="https://calendly.com/abimzy/60min" style="text-decoration: none;"><button type="button" class="btn btn-success btn-lg btn-block">Schedule a free demo</button></a>
                    </a>
                </div>
                <div class="col-sm">
                    <a href="#" style="text-decoration: none;">
                      <a href="{{ url_for('pricing')}}" style="text-decoration: none;"><button type="button" class="btn btn-outline-secondary btn-lg btn-block">Free Trial Offer</button></a>
                    </a>
                </div>
            </div>
        </div>
    </section>
   
    <style>
            .small-img {
                border-radius: 5px;
            }
    </style>
{% endblock content %}