{% extends "index.html" %}

{% block content %}
<header>
    <img class="hero-img img-fluid" src="https://cdn.pixabay.com/photo/2014/12/10/20/56/medical-563427_1280.jpg" alt="Doctor's notes"  width="auto">
</header> 
<section class="container" style="padding-top: 5px;">
        <div class="row">
          <div class="col-sm">
              <img class="small-img" src="https://cdn.pixabay.com/photo/2016/06/24/02/35/ehr-1476525_1280.png" width="100%" vh="100%" alt="man carrying woman">
              <p>I just saw other cats inside the house and nobody ask me before using my litter box. Play riveting piece on synthesizer keyboard meow go back to</p>
          </div>
          <div class="col-sm">
              <img class="small-img" src="https://as1.ftcdn.net/jpg/01/27/04/88/500_F_127048893_asWNZzlNiwEGoUXF7F5EiWZ1lqVyEIlf.jpg" width="100%" vh="100%" alt="man carrying woman">
              <p>Need to check on human, have not seen in an hour might be dead oh look, human is alive, hiss at human, feed me instantly break out into full speed gallop across the house </p>
          </div>
          <div class="col-sm">
              <img class="small-img" src="https://t4.ftcdn.net/jpg/01/84/67/71/240_F_184677181_QsidoyIaTiAnED422BJ7Dr95Yc4SROUh.jpg" width="100%" vh="100%" alt="man carrying woman">
              <p>Bathe private parts with tongue then lick owner's face touch water with paw then recoil in horror cough furball. Bathe private parts with tongue then lick owner's face. </p>
          </div>
        </div>
      </section>
    

    

{% endblock content %}