<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Catamaran" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='index.css') }}">
    {% if title %}
        <title>{{ title }} - Dignify</title>
        {% else %}
        <title>Welcome to Dignify!</title>
    {% endif %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue">
        <a class="navbar-brand" href="{{ url_for('home')}}">Dignify®</a>
        <h5>{% if current_user.is_authenticated %} Hello {{current_user.first_name}} {%endif%}</h5>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            {% if current_user.is_authenticated %}
            <div class="navbar-nav">
            <button class="nav-item btn ">
                <a class="nav-link" href="{{ url_for('about')}}"><strong>About</strong></a>
            </button>
            <button class="nav-item btn ">
                    <a class="nav-link" href="{{ url_for('pricing')}}"><strong>Pricing</strong></a>
                </button>
            <button class="nav-item btn ">
                    <a class="nav-link" href="{{ url_for('account')}}"><strong>Profile</strong></a>
                </button>
                <button class="nav-item btn ">
                        <a class="nav-link" href="{{ url_for('charts')}}"><strong>Charts</strong></a>
                    </button>
            <button class="nav-item btn ">
                    <a class="nav-link" href="{{ url_for('logout')}}"><strong>Logout</strong></a>
                </button>
            {% else %}
            <button class="nav-item btn ">
                    <a class="nav-link" href="{{ url_for('about')}}"><strong>About</strong></a>
                </button>
                <button class="nav-item btn ">
                        <a class="nav-link" href="{{ url_for('pricing')}}"><strong>Pricing</strong></a>
                    </button>
            <button class="nav-item btn">
                <a class="nav-link" href="{{ url_for('login')}}"><strong>Login</strong></a>
            </button>
            </div>
              </div>
            {% endif %}
        </div>
    </nav>



        {% block content %}

        {% endblock content %}

    <footer class="page-footer footer font-small blue">
        <div class="footer-copyright container text-center py-3">
            <a class="text-muted" href="#">© 2019  Dignify</a>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>



       



     