{% extends "layout.html" %}

{% block content %}

{% from 'macros.html' import render_field %}
    <form method="POST" action="" class="form">
        <legend class="border-bottom mb-4 pl-3">Welcome back!</legend>
        {{ form.hidden_tag() }}
        {% for field in form %}
            {{ render_field(field) }}
        {% endfor %}
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <button type="submit" class="btn btn-success btn-lg btn-end" id="submit">Login</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <small class="text-muted pl-3">
                    Don't have an account?<a class="ml-2" href="{{ url_for('signup') }}" title="signup"><strong>Sign up</strong></a>
                    </small>
                </div>
            </div>
        </div>
    </form>
    

<style>
        form.form {
           text-align: center;
           height: 85vh;
            }
        form input {
            border:  lightgrey 1px solid;
            border-radius: 5px;
            margin: 2px;
            margin-top: 15px;
            padding: 13px;
            width: 45%;
        }
        #submit {
            margin-top: 5px;
        }
</style>


{% endblock content %}