{% extends "layout.html" %}

{% from 'macros.html' import render_field %}

{% block content %}
<div class="container ">
   
        <div class="col-12">
            <form method="POST" action="" class="form">
                <legend class="border-bottom mb-4 pl-3">Patient Information Form</legend>
                {{ form.hidden_tag() }}
               
                {{ form.first_name (placeholder="First Name")}}
                {{ form.last_name(placeholder="Last Name") }}  
              
                {{ form.gender(placeholder="Gender") }}
              
                {{ form.date_of_birth(placeholder="Date of birth") }}
                {{ form.picture_upload(placeholder="Picture")}}
                {{ form.ssn(placeholder="SSN") }}
                {{ form.health_insurance_id(placeholder="Health Insurance ID") }}
                {{ form.address(placeholder="Address") }}
                {{ form.city(placeholder="City") }}
                {{ form.zip_code(placeholder="Zip Code") }}
                {{ form.phone_number(placeholder="Phone Number") }}
                {{ form.medical_history(placeholder="Medical History") }}
                {{ form.visit_notes(placeholder="Visit Notes") }}
                {{ form.dental_record(placeholder="Dental Record") }}
                {{ form.current_medication(placeholder="Current Medication") }}
                {{ form.inactive_medication(placeholder="Inactive Medication") }}
                {{ form.file_upload(placeholder="File Upload") }}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success btn-sm pullright" id="submit">Save record</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





<style>
    form.form {
        text-align: center;
    }

    form input {
        border: lightgrey 1px solid;
        border-radius: 5px;
        margin: 2px;
        margin-top: 15px;
        padding: 13px;
        width: 70%;
    }

    #submit {
        margin-top: 5px;
    }

    aside {
        border: lightgrey 1px solid;
        height: 150vh;
        margin-top: 35px;
    }
</style>

{% endblock content %}