{% extends "layout.html" %}

{% from 'macros.html' import render_field %}

{% block content %}
<div class="container jumbotron">
    <div class="row">
        <div class="col-4">
            <aside>
                <h4>Patient data stream</h4>
                <ul>
                    <li>
                  <p>To include some other utils</p>
                    </li>
                </ul>
            </aside>
        </div>
        <div class="col-8">
            <form method="POST" action="" class="form">
                <legend class="border-bottom mb-4 pl-3">Patient Information Form</legend>
                {{ form.hidden_tag() }}
                {{ form.first_name.label }}
                {{ form.first_name (placeholder="First Name")}}
                {{ form.last_name() }}  
                {{ form.gender.label }}
                {{ form.gender(placeholder="Gender") }}
                {{ form.date_of_birth.label }}
                {{ form.date_of_birth(placeholder="Date of birth") }}
                {{ form.picture_upload()}}
                {{ form.ssn() }}
                {{ form.health_insurance_id() }}
                {{ form.address() }}
                {{ form.city() }}
                {{ form.zip_code() }}
                {{ form.phone_number() }}
                {{ form.medical_history() }}
                {{ form.visit_notes() }}
                {{ form.dental_record() }}
                {{ form.current_medication() }}
                {{ form.inactive_medication() }}
                {{ form.file_upload() }}
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-success btn-sm pullright" id="submit">Save record</button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>





<style>
    form.form {
        text-align: center;
    }

    form input {
        border: lightgrey 1px solid;
        border-radius: 5px;
        margin: 2px;
        margin-top: 15px;
        padding: 13px;
        width: 70%;
    }

    #submit {
        margin-top: 5px;
    }

    aside {
        border: lightgrey 1px solid;
        height: 150vh;
        margin-top: 35px;
    }
</style>

{% endblock content %}