{% extends "layout.html" %}

{% block content %}
    <div class="jumbotron text-center">
        <p>Sign up for a free 1-month trial</p>
        <form action="/thankyou" method="POST">
            <script
              src="https://checkout.stripe.com/checkout.js" class="stripe-button"
              data-key="pk_test_OOaAZRIcqvtJbZlNayMrIRSV002513NVrI"
              data-amount="100000"
              data-name="Demo Site"
              data-description="Example charge"
              data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
              data-locale="auto"
              data-zip-code="true">
              
            </script>
          </form>
    </div>
    
{% endblock content %}

   