{% extends "layout.html" %}

{% block content %}
    <form method="POST" action="" novalidate>
        {{ form.hidden_tag() }}

        <div>
            {{ form.first_name.label }}
            {{ form.first_name() }}
        </div>
        <div>
            {{ form.last_name.label }}
            {{ form.last_name() }}
        </div>
        <div>
            {{ form.email.label }}
            {{ form.email() }}
        </div>
        <div>
            {{ form.role.label }}
            {{ form.role() }}
        </div>
        <div>
            {{ form.avatar.label }}
            {{ form.avatar() }}
        </div>

        {{ form.submit() }}
    </form>


{% endblock content %}

   