{% extends "layout.html" %}

{% block content %}
    <form method="POST" action="" class="form">
        {{ form.hidden_tag() }}
        {% for field in form %}
            <div class="field">
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="notification error">{{ error }}</div>
                    {% endfor %}
                {% endif %}
                {{ field(placeholder=field.label.text) }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-success btn-lg btn-end" id="submit">Signup</button>
    </form>

<style>
        form.form {
           text-align: center;
           height: 85vh;
            }
        form input {
            border:  lightgrey 1px solid;
            border-radius: 5px;
            margin: 2px;
            margin-top: 15px;
            padding: 13px;
            width: 45%;
        }
        #submit {
            margin-top: 5px;
        }
</style>

{% endblock content %}